{% extends "base.html" %}
{% block content %}

<h2>Admin Dashboard</h2>

<div class="row mb-3">
    <div class="col-md-4">
        <div class="card p-3 text-center bg-light shadow">
            <h5>Total Users</h5>
            <h3>{{users}}</h3>
        </div>
    </div>
</div>

<h4>Add Product</h4>
<form method="POST" action="/add_product">
<input class="form-control mb-2" name="name" placeholder="Product Name">
<button class="btn btn-success">Add Product</button>
</form>

<h4 class="mt-4">Pending Reviews</h4>

{% for r in pending %}
<div class="card p-2 mb-2 shadow-sm">
    {{r.text}} ({{r.user}})
    <br>
    <a href="/approve/{{r.id}}" class="btn btn-success btn-sm">Approve</a>
    <a href="/delete/{{r.id}}" class="btn btn-danger btn-sm">Delete</a>
</div>
{% endfor %}

{% endblock %}