{% extends "base.html" %}
{% block content %}
<h2>Products</h2>

{% for p in products %}
<div class="card p-3 mb-3">
    <h5>{{p.name}}</h5>

    <form method="POST" action="/review/{{p.id}}">
        <input class="form-control mb-2" name="rating" type="number" min="1" max="5">
        <input class="form-control mb-2" name="text" placeholder="Write review">
        <button class="btn btn-primary">Submit</button>
    </form>

    <a href="/product/{{p.id}}">View Reviews</a>
</div>
{% endfor %}
{% endblock %}